<!DOCTYPE html>

<html>
	<head>
		{{template "header"}}
		<title>首页 - 小娜的博客</title>
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>
		</div>
		<br/><br/><br/>
		<div class="container">
		  <div class="col-md-9">
			<div class="page-header">
				<h1>人类最喜欢让微软小娜做的10件事，有你吗？</h1>
				<h6 class="text-muted">2014-12-22 13:07:59来源：IT之家作者：死骑责编：死骑 39146 评论：164</h6>
				<p>
					IT之家讯 微软必应发布了必应2014全球搜索风向标，为大家盘点了众多热门的新闻事件，那么你知道“人类最喜欢让小娜做的十件事”是什么吗？微软小娜的妹妹小冰在淘气的同时，如何解答人类的困扰和烦恼，甚至是挑逗呢？。。。
				</p>
			</div>
			{{range .Topics}}
			<div class="page-header">
				<h1>{{.Title}}</h1>
				<h6 class="text-muted">{{.Created}}    浏览：{{.Views}}    评论：{{.ReplyCount}}</h6>
				<p>
					{{.Content}}
				</p>
			</div>
		    {{end}}
		  </div>
		  <div class="col-md-3">
		    <h4>文章分类</h4>
		  </div>
		</div>
		<!-- 新 Bootstrap 核心 CSS 文件 -->
    	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</body>
</html>

